<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2/dist/flickity.min.css"
    />

    <link
      href="https://use.fontawesome.com/releases/v5.0.1/css/all.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Margaret Hamilton</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="home">Home </a></li>
          <li><a href="about">About</a></li>
          <li><a href="works">Work </a></li>
          <li><a href="gallery">Gallery </a></li>
        </ul>
      </nav>
    </header>

    <div class="main-carousel">
      <div class="carousel-cell">
        <img src="/images/Margaret_Hamilton_-_restoration.jpeg" />
      </div>
      <div class="carousel-cell">
        <img src="/images/Margaret_Hamilton.jpeg" />
      </div>
      <div class="carousel-cell">
        <img src="images/Margaret_Hamilton_1989.jpeg" />
      </div>
    </div>

    <footer>
      <p>
        All information available on this site are from
        <a
          href="https://en.wikipedia.org/wiki/Margaret_Hamilton_(software_engineer) "
          >Wikipedia
        </a>
      </p>
    </footer>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
