<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://use.fontawesome.com/releases/v5.0.1/css/all.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Margaret Hamilton</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="home">Home </a></li>
          <li><a href="about">About</a></li>
          <li><a href="works">Work </a></li>
          <li><a href="gallery">Gallery </a></li>
        </ul>
      </nav>
    </header>

    <section class="work-page">
      <div>
        <h1>Her Work</h1>
        <p>
          In Boston, Hamilton initially intended to enroll in graduate study in
          abstract mathematics at Brandeis. However, in mid-1959, Hamilton began
          working for Edward Norton Lorenz, in the meteorology department at
          MIT.
        </p>

        <p>
          She developed software for predicting weather, programming on the
          LGP-30 and the PDP-1 computers at Marvin Minsky's Project MAC. Her
          work contributed to Lorenz's publications on chaos theory. At the
          time, computer science and software engineering were not yet
          established disciplines; instead, programmers learned on the job with
          hands-on experience. She moved on to another project in the summer of
          1961, and hired and trained Ellen Fetter as her replacement.
        </p>
        <p>Significant work achievements:</p>
        <ul>
          <li>- SAGE Project</li>
          <li>- Draper Laboratory</li>
          <li>- Apollo program</li>
          <li>- HOS</li>
        </ul>
      </div>
      <img src="images/ad55b0d0-1275px-margaret_hamilton_in_lunarmodule.jpeg" />
    </section>

    <footer>
      <p>
        All information available on this site are from
        <a
          href="https://en.wikipedia.org/wiki/Margaret_Hamilton_(software_engineer) "
          >Wikipedia
        </a>
      </p>
    </footer>
  </body>
</html>
